.message-author {
    background-color: seagreen;
    min-height: 200px;
    width: 75%;
    color: #804c28;
    font-size: 30px;
    line-height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px 10px 50px auto;
    padding: 10px;
}

.message-other {
    background-color: bisque;
    min-height: 200px;
    width: 75%;
    color: chocolate;
    font-size: 30px;
    line-height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0px auto 50px 10px;
    padding: 10px;
    align-self: flex-start;
}

.author {
    height: 50px;
    color: red;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 90%;
}