.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.grid-wrapper {
  max-width: 75%;
}

.linkList {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.linkItem {
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #3E506F;
  border-radius: 5px;
  background-color: #ae9fb6;
  width: 100%;
  text-transform: uppercase;
}