.message {
    background-color: bisque;
    min-height: 200px;
    min-width: 75%;
    color: chocolate;
    font-size: 30px;
    line-height: 35px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px auto;
}

.author {
    height: 50px;
    color: brown;
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}